@import url("https://esm.sh/v135/simpledotcss@2.3.0/simple.min.css");

#header-actions .button,
.note-actions .button,
.note-actions button,
.note-actions input[type="submit"] {
  font-size: .8rem;
  font-weight: bold;
  padding: .5rem .7rem;
  margin-top: .7rem;
  margin-bottom: .7rem;
}
